#background {
  position:absolute;
  top:0px;
  left:0px;
}

#animate{
  top:0px;
  left:0px;
  position:absolute;
}

#gradient{
  top:0px;
  left:0px;
  position:absolute;
 }

#nametext{
  top: 28.5%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position:absolute;
  color: #991D1D;
  font-family: "Lucida Console";
  font-size: 100px;
  margin-top: auto;
  text-align: center;
}

#button{
  background-color: #999999; 
  top: 150px;
  width:300px;
  height:150px;
  border-radius:5px;
  position: relative;
  margin:auto;
}
