  #background {
    position:absolute;
    top:0px;
    left:0px;
    z-index:-1;
  }

  #animate{
    top:0px;
    left:0px;
    position:absolute;
  }

  #gradient{
    top:0px;
    left:0px;
    position:absolute;
  }